html {
    background-color: hsl(273, 49%, 19%);
}

h1 {
    text-align: center;
}

img {
    height: 300px;
    width: auto;
    align-items: center;
}

.mango {
    color: hsl(34, 93%, 52%);
    font-family: "Brush Script MT", "Lucida Handwriting", Papyrus, serif;
}